{% extends 'base.html.twig' %}

{% block body %}
  <h2>Liste des derniers articles</h2>
  {% for article in articleList %}
    <div class="card">
      <div class="card-header">
        <h4><a href=</h4>
        <h5>{{ article.sousTitre }}</h5>
        <div class="card-body">
          <p>{{ article.contenu|u.truncate(150, '...') }}</p>
          {% if article.auteur is not null %}
            <p>By: {{ article.auteur.prenom }} {{ article.auteur.nom }}</p>
          {% endif %}
          <p>Date de publication : {{ article.dateDePublication|date("d/m/Y") }} à {{ article.dateDePublication|date("H:i:s") }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}